html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @extend %flex-center;
  background-color: rgb(34, 74, 79);
  color: rgb(222, 220, 217);
  
  button {
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0 1.25em;
    padding: 0;
    color: rgb(222, 220, 217);
    
    &:hover {
      filter: brightness(0.85);
    }
  }
}

#app-container {
  @extend %flex-center;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 0 16px;
  
  h1 {
    margin: 0;
  }
}

#length-wrapper {
  @extend %flex-center;
  gap: 16px;
}

.length-control {
  display: inline-block;
  text-align: center;
  width: 250px;
  
  span {
    font-size: 1.15em;
    // margin: 0 0.7em;
  }
}

#timer-wrapper {
  @extend %flex-center;
  flex-direction: column;
  border: 7px solid #13353a;
  border-radius: 50px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
  width: 250px;
  
  #timer-label {
    margin: 0;
  }
  
  #time-left {
    font-size: 3em;
  }
}

#footer {
  display: block;
	font-size: 14px;
	margin-top: 16px;
	text-align: center;

	a {
    color: inherit;
		text-decoration: none;
	}
}